/artifacts
/.vs
/src/NumberToWord/node_modules
/packages
/src/NumberToWord/wwwroot/app
/src/NumberToWord/wwwroot/lib
/src/NumberToWord/wwwroot/index.html
/src/NumberToWord/wwwroot/style.css
/src/NumberToWord/wwwroot/app.js
