<md-content layout-padding="">

	<h3>NOTE: The API will only work for number between 0 to 999,999,999,999,999,999,999,999,999.</h3>


	<h4>Covert number to English words</h4>
	<pre><code>API: http://numandword.azurewebsites.net/api/intword/number-to-word </code></pre>
	<pre><code>Example Input: { "number": "2034000000000" }</code></pre>
	<pre><code>NOTE: The input need to be a string since the number can be very large</code></pre>
	<pre><code>Example Output: { "result": "two trillion thirty four billion", "message": null }</code></pre>

	<h4>Covert English Words to number</h4>
	<pre><code>API: http://numandword.azurewebsites.net/api/intword/word-to-number </code></pre>
	<pre><code>Example Input: { "word":"twelve thousand and three hundred and twenty one" }</code></pre>
	<pre><code>Example Output: { "result":"12321","message":null }</code></pre>

</md-content>
